/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
h1, h2, h3, h4 {
    font-family: 'YanoneKaffeesatzRegular';
    font-weight: 300;
}
p {
    font-family: 'YanoneKaffeesatzRegular';
}
html {
    background-color: #474747; 
     font-family: 'YanoneKaffeesatzRegular';
}
.top {
    background-color: rgb(35,31,32);   /*was#474747;  the whole top bar*/
     font-family: 'YanoneKaffeesatzRegular';
}
.navbar-brand {
    margin-left:8%;
    height: 51px;
    line-height: 51px;
    text-align: center;
    padding: 0 10px;
    background-color:rgb(35,31,32);    /*was #CCC, behind logo #474747;*/  
    color: #474747;
    text-decoration: none;
     font-family: 'YanoneKaffeesatzRegular';
     
}
.top .container {
    padding: 0;
     font-family: 'YanoneKaffeesatzRegular';
    
}
/*left 2nd banner*/
.banner {
    background-color: rgb(23,169,225); /*rgb(35,31,32) Under Data Mgt Solution, was #009b9b*/
     font-family: 'YanoneKaffeesatzRegular';
  
}
.banner .container {
    background-color: rgb(23,169,225);/*Data Mgt was #009b9b*/
	color:rgb(238,238,238);
    min-height: 60px;
    text-align:center;  
   font-family: 'YanoneKaffeesatzRegular';
}
.banner .container p {
    font-size: 22px;
    padding-left: 5px;
    font-weight: 300;
     font-family: 'YanoneKaffeesatzRegular';
}
.middle {
    background-color:#fff;
	min-height:200px;
}
.middle .container {
    background-color: #fff;
    min-height: 200px;
    padding-bottom: 20px;
     font-family: 'YanoneKaffeesatzRegular';
}
.navbar-nav li a {
    color: rgb(238,238,238);   /* WAS - #CCC */  
    font-family: 'Lato', sans-serif;
}
.navbar-nav li a:hover {
    background-color: #373737;
}
.bottom {
margin-top:20px;
    background-color: #fff;/* WAS - 373737 */
}
.bottom .container {
    background-color: #fff; /* WAS- 373737 */
    min-height: 200px;
     font-family: 'YanoneKaffeesatzRegular';
}
.bottom .container h3 {
    color: #999;
     font-family: 'YanoneKaffeesatzRegular';
}
.bottom .container p {
    color: #666;
     font-family: 'YanoneKaffeesatzRegular';
}
.navbar-toggle {
    color: #009b9b;
    font-size: 32px;
    margin: 3px;
    padding: 2px 5px;
    line-height: 32px;
     font-family: 'YanoneKaffeesatzRegular';
}
.navbar-toggle:hover {
    background-color: #373737;
}
.navbar-nav {
    margin: 0;
}

.content p {
    line-height: 30px;
    font-size: 16px;
}
.to-tutorial {
    text-align: center;
     font-family: 'YanoneKaffeesatzRegular';
}
.col-xs-3{border:1px solid gray; margin:10px;}

hr{
color: rgb(23,169,225); /*WAS #009b9b*/
background-color:rgb(23,169,225);	/*WAS #009b9b*/
height: 4px;
}

/*MediaQueries*/

@media (max-width: 600px) {
  #pimg{
    display:none;
  }
  img{text-align:left; margin-left:-12px; }
 .container h1{font-size:25px; text-align:center;
 font-family: 'YanoneKaffeesatzRegular';
 }


.top .navbar-brand{
    margin-left:1px;
    height: 51px;
	width:100px;
    line-height: 51px;
    text-align: left;
    padding: 0 10px;
    background-color: #474747;  /*was #CCC*/  
    color: #474747;
    text-decoration: none;
	float:left;
}
.banner .container {
    background-color:rgb(23,169,225);/*Data Mgt was #009b9b*/
    color:rgb(238,238,238);
    max-height: 40px;
    text-align:center; 
    margin-top:1px;
     font-family: 'YanoneKaffeesatzRegular';


}
.banner .container {

    }
}/*MediaQueries end*/
/*CAROUSEL CSS*/


/*END CAROUSEL CSS*/